<?xml version="1.0"?>
<launch>
    <!-- include GAZEBO_MODEL_PATH -->
    <env name="GAZEBO_MODEL_PATH" value="$(find lex_simulation)/worlds/models:$(find lex_simulation)/../gazebo_models_worlds_collection/models:$(optenv GAZEBO_MODEL_PATH)" />

    <arg name="world_name"      default="$(find lex_simulation)/worlds/warehouse_all_box.world" />
    <arg name="paused"          default="false" />
    <arg name="use_sim_time"    default="true" />
    <arg name="gui"             default="true" />
    <arg name="headless"        default="false" />
    <arg name="debug"           default="false" />
    <arg name="model"           default="$(find lex_simulation)/urdf/lex_robot_with_ur3e.urdf.xacro" />

    <param name="/use_sim_time" value="$(arg use_sim_time)" />

    <!-- Controller configuration files -->
    <arg name="controller_config"       default="$(find lex_simulation)/config/controller_config.yaml" />
    <arg name="controllers"             default="joint_state_controller eff_joint_traj_controller" />
    <arg name="stopped_controllers"     default="joint_group_eff_controller" />

    <!-- Load param -->
    <rosparam file="$(arg controller_config)" command="load" />
    <param name="robot_description" command="xacro $(arg model)" />

    <!-- Gazebo -->
    <include file="$(find gazebo_ros)/launch/empty_world.launch">
        <arg name="world_name"  value="$(arg world_name)" />
        <arg name="paused"      value="$(arg paused)" />
        <arg name="gui"         value="$(arg gui)" />
        <arg name="headless"    value="$(arg headless)" />
        <arg name="debug"       value="$(arg debug)" />
    </include>

    <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model"
        args="-param robot_description -urdf -model lex_robot -z 0.6"
        output="screen" />

    <!-- Arm Initial Position -->
    <node name="arm_initializer" pkg="rostopic" type="rostopic"
        args="pub -1 /eff_joint_traj_controller/command trajectory_msgs/JointTrajectory '{joint_names: [ur3e_shoulder_pan_joint, ur3e_shoulder_lift_joint, ur3e_elbow_joint, ur3e_wrist_1_joint, ur3e_wrist_2_joint, ur3e_wrist_3_joint], points: [{positions: [0.0, -2.638938, 2.136283, -1.570000, 1.570000, 3.140000], time_from_start: {secs: 2, nsecs: 0}}]}'"
        output="screen" />

    <!-- Robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
        <param name="publish_frequency" value="50.0" />
        <param name="use_sim_time" value="true" />
    </node>

    <!-- Spawn controllers -->
    <node name="controller_spawner" pkg="controller_manager" type="spawner"
          args="$(arg controllers)" output="screen" respawn="false" />

    <!-- Spawn stopped controllers -->
    <node name="stopped_controller_spawner" pkg="controller_manager" type="spawner"
          args="--stopped $(arg stopped_controllers)" output="screen" respawn="false" />
</launch>