<?xml version="1.0"?>
<launch>
    <!-- Arguments -->
    <arg name="use_exploration"     default="false" />
    <arg name="world_name"          default="$(find lex_simulation)/worlds/empty.world" />
    <arg name="model"               default="$(find lex_simulation)/urdf/lex_robot_with_ur3e.urdf.xacro" />
    <arg name="use_sim_time"        default="true" />

    <param name="/use_sim_time" value="$(arg use_sim_time)" />

    <!-- Gazebo -->
    <include file="$(find lex_simulation)/launch/gazebo.launch">
        <arg name="world_name" value="$(arg world_name)" />
        <arg name="model" value="$(arg model)" />
    </include>

    <!-- Navigation -->
    <include file="$(find lex_navigation)/launch/full_navigation.launch">
        <arg name="use_exploration" value="$(arg use_exploration)" />
        <arg name="use_mapping" value="true" />
    </include>

</launch>