<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="robot_model" value="ur3e" />
    <arg name="model"       default="$(find lex_simulation)/urdf/ur3e/ur3e.gazebo.xacro" />
    <arg name="rvizconfig"  default="$(find lex_simulation)/rviz/ur3e_robot.rviz" />

    <!-- robot_state_publisher configuration -->
    <arg name="tf_prefix"     default=""        doc="tf_prefix used for the robot."/>
    <arg name="tf_pub_rate"   default="500"     doc="Rate at which robot_state_publisher should publish transforms."/>


    <!-- ur3e parameters files -->
    <arg name="joint_limit_params"  default="$(find lex_simulation)/config/ur3e/joint_limits.yaml"/>
    <arg name="kinematics_params"   default="$(find lex_simulation)/config/ur3e/default_kinematics.yaml"/>
    <arg name="physical_params"     default="$(find lex_simulation)/config/ur3e/physical_parameters.yaml"/>
    <arg name="visual_params"       default="$(find lex_simulation)/config/ur3e/visual_parameters.yaml"/>


    <!-- common parameters -->
    <arg name="transmission_hw_interface"   default="hardware_interface/EffortJointInterface" />
    <arg name="safety_limits"               default="false" doc="If True, enable the safety limits controller"/>
    <arg name="safety_pos_margin"           default="0.15"  doc="The lower/upper limits in the safety controller" />
    <arg name="safety_k_position"           default="20"    doc="Used to set k position in the safety controller" />
   
    <!-- Load robot description to parameter server -->
    <param name="robot_description" command="xacro $(arg model)
        robot_model:=$(arg robot_model)
        joint_limit_params:=$(arg joint_limit_params)
        kinematics_params:=$(arg kinematics_params)
        physical_params:=$(arg physical_params)
        visual_params:=$(arg visual_params)
        transmission_hw_interface:=$(arg transmission_hw_interface)
        safety_limits:=$(arg safety_limits)
        safety_pos_margin:=$(arg safety_pos_margin)
        safety_k_position:=$(arg safety_k_position)"
        />

    <!-- Robot state publisher -->
    <!-- <node pkg="robot_state_publisher" type="robot_state_publisher" name="robot_state_publisher">
        <param name="publish_frequency" type="double" value="$(arg tf_pub_rate)" />
        <param name="tf_prefix" value="$(arg tf_prefix)" />
    </node> -->

    <!-- Joint state publisher -->
    <!-- <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
        <param name="use_gui" value="false" />
    </node> -->

    <!-- RViz -->
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(arg rvizconfig)" required="false" />

</launch>