<?xml version="1.0"?>
<launch>
    <arg name="use_sim_time"            default="true" />
    <arg name="odom_topic"              default="/odom/filtered" />
    <arg name="localization_config"     default="$(find lex_navigation)/config/6_ekf_localization.yaml" />

    <param name="/use_sim_time" value="$(arg use_sim_time)" />
    <rosparam file="$(arg localization_config)" command="load" />

    <!-- EKF localization node -->
    <node pkg="robot_localization" type="ekf_localization_node" name="ekf_se_odom" output="screen">
        <remap from="/odometry/filtered" to="$(arg odom_topic)" />
    </node>

</launch>