<?xml version="1.0"?>
<launch>

    <!-- Arguments -->
    <arg name="use_sim_time" default="true" />
    <arg name="scan_topic"   default="/scan" />
    <arg name="mapping_config"        default="$(find lex_navigation)/config/4_mapping_config.yaml" />

    <param name="/use_sim_time" value="$(arg use_sim_time)" />

    <!-- GMapping Node -->
    <node pkg="gmapping" type="slam_gmapping" name="slam_gmapping" output="screen">
        <param name="use_sim_time" value="$(arg use_sim_time)" />
        <rosparam file="$(arg mapping_config)" command="load" />
        <remap from="scan" to="$(arg scan_topic)" />
    </node>

</launch>